.jumbotron {
  background-image: url("https://res.cloudinary.com/dcs/image/upload/c_scale,h_400/v1561929331/dcnews/news.jpg");
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}
